{% extends '@App/public/base.html.twig' %}

{% block app_body %}
    <h1>Nous contacter</h1>
    <div class="">
        <div class="col-6">
            {{ form_start(formContact) }}
            {{ form_rest(formContact) }}
            <button type="submit" class="btn btn-primary">Envoyer</button>

            {{ form_end(formContact) }}
        </div>
    </div>
{% endblock %}

