
<form class="col-12" action="{{ path('app_handle_search') }}" method="GET">
    <div class="input-group search">
        <input type="text" name="search" class="form-control" aria-label="Rechercher" aria-describedby="basic-addon" placeholder="Rechercher...">
        <div class="input-group-append">
            <button type="submit" class="input-group-text" id="basic-addon">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>
