{% if paging.nbPages > 1 %}
    <ul class="pagination">
        {% if paging.page > 1 %}
            <li class="page-item">
                <a href="{{ path(paging.route, {'page': paging.page-1}) }}" class="page-link" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                    <span class="sr-only">Previous</span>
                </a>
            </li>
        {% endif %}

        {# Affichage de toutes les pages entre p-4 et p+4 sauf si < 1 ou > nbPages #}
        {% for p in range(max(paging.page-4, 1), min(paging.page+4, paging.nbPages)) %}
            <li {% if p == paging.page %}class="page-item active" {% else %}class="page-item" {% endif %}>
                <a href="{{ path(paging.route, {'page': p}) }}" class="page-link">
                    {{ p }}
                </a>
            </li>
        {% endfor %}

        {% if paging.page < paging.nbPages %}
            <li class="page-item">
                <a href="{{ path(paging.route, {'page': paging.page+1}) }}" class="page-link" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                    <span class="sr-only">Next</span>
                </a>
            </li>
        {% endif %}
    </ul>
{% endif %}