    <div>
        <p>Bonjour {{ user.username }}</p>
        <br/>
        <p>Vous avez demandé la réinitialisation de votre mot de passe.</p>
        <p>Veuillez notez vos identifiant de connexion avec le nouveau mot de passe.</p>
        <ul>
            <li>login : {{ user.username }}</li>
            <li>mot de passe : {{ password }}</li>
        </ul>
        <p>Vous pouvez, dès à présent vous connectez sur le site de la <a href="http://127.0.0.1:8000/login">Bibliothèque numèrique de Sévigné</a>.</p>
    </div>
    <div>
        <hr>
        <p>Vous recevez cet email car vous êtes inscrit sur le site Bibliothèque numérique du Collège Sévigné.</p>
    </div>
