body{
    background: url("../img/back.png");
    font-size: 1em;
    font-family: Lato;
    color: #444;
}
a {
    color: #558da4;
}
a:hover {
    color: #bfae94;
    text-decoration: none;
}
.message {
    margin-bottom: 0;
    text-align: center;
}

/* ------------------ Menu ----------------- */
.site-header a {
    color: #28586f;
    transition: ease-in-out color .15s;
}
.site-header a:hover {
    color: #bfae94;
    text-decoration: none;
}
.midbar{
    margin-bottom: 2em;
}
nav.site-header.sticky-top.py-1 {
    background-color: #e9e9e9;
}

/* ----------------- Header ---------------- */
.contenu {
    position: absolute;
}
.media{
    margin-bottom: 2em;
}
img.picto {
    max-width: 100%;
    max-height: 134px;
}
.title_site{
    padding: 0 1rem;
    font-size: 3.5rem;
    font-weight: 400;
    color: #fff;
}
.search input.form-control {
    line-height: 3;
}
button#basic-addon {
    padding: 0 1rem;
    font-size: 1.5rem;
}
.input-group-append:hover button {
    background-color: #444;
    color: #ececec;
}

#front, #front_blue{
    width: 100vw;
}
#front {
    height: 100vh;
}

/* ------------------ Bouton ---------------- */
.btn-outline-sevigne {
    color: #a79477;
    background-color: transparent;
    background-image: none;
    border-color: #a79477;
}
.btn-outline-sevigne:hover {
    color: #fff;
    background-color: #a79477;
    border-color: #a79477;
}
.btn-outline-sevigne-blue {
    color: #558da4;
    background-color: transparent;
    background-image: none;
    border-color: #558da4;
}
.btn-outline-sevigne-blue:hover {
    color: #fff;
    background-color: #558da4;
    border-color: #558da4;
}
.page-link {
    color: #bfae94;
}
.page-item.active .page-link {
    background-color: #bfae94;
    border-color: #bfae94;
}
/* ---------------- Index ----------------- */
.heading {
    margin-bottom: 2rem;
    border-bottom: 1px solid #bfae94;
}
.content {
    margin-bottom: 2rem;
}
.card-img-top {
    height: 150px;
    overflow: hidden;
    border-bottom: 1px solid rgba(0,0,0,.125);
    margin-bottom: 0;
}

.card-img-top img {
    width: 100%;
    min-height: 100%;
}

/* ---------------- Footer ---------------- */
footer {
    background: #28586f;
    color: #fff;
    padding: 3rem 0;
}
.logo-footer{
    padding-bottom: 2em;
}
ul.card-list.contact {
    text-align: right;
    font-size: 1.2rem;
}
.card-list.contact li a {
    color: #fff;
    font-weight: 300;
    transition: ease-in-out color .15s;
}
.card-list.contact li a:hover {
    color: #bfae94;
}

/* -------------- Search Page -------------- */
.panel-front {
    background: #fff;
    padding: 1em;
}
.panel-heading {
    padding: 14px 0 6px 0;
}
.panel-heading > h3 {
    font-size: 1.5rem;
}
.panel-heading > h4 {
    font-size: 1.2rem;
    margin-bottom: 0;
}
.pull-right {
    float: right;
    color: #bfae94;
}
.accordion-toggle .panel-heading {
    border-bottom: 1px solid #d6d6d6;
    margin-bottom: 16px;
    color: #444;
}
.facet-list,
.card-list {
    list-style-type: none;
    padding: 2px 0;
}
/* -------------- Single Page -------------- */
.principal {
    margin-bottom: 4em;
}
.date {
    text-align: right;
}
p.content {
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 2rem;
}
.other-card-img {
    position: relative;
    width: 100%;
    height: 11em;
    overflow: hidden;
}
.other-card-img img {
    width: 100%;
    min-height: 100%;
}
.other-card-info {
    position: absolute;
    padding: .5rem 1rem;
    line-height: 1.4em;
    bottom: 0;
    color: #fff;
    background-color: rgba(0, 0, 0, .75);
    width: 100%;
    height: 50%;
    left: 200%;
}
.other-card-img:hover .other-card-info {
    transition-duration: 1.5s;
    transition-timing-function:ease;
    left: 0;
}
.other-card-info p {
    margin-bottom: 0;
}
.nav-tabs .nav-link {
    background-color: #bfae94;
    color: #fff;
}
div#nav-tabContent {
    border: 1px solid #dee2e6;
    padding: 1em 1em 1.5em 1em;
    background-color: #fff;
    border-top: none;
    margin-bottom: 1rem;
    text-align: justify;
}


/*-------------- Login / Register --------------*/
.sign {
    margin-top: 5em;
}
.panel {
    border-radius: 5px;
}
.panel-login {
    border: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 49px 14px rgba(188,190,194,0.39);
    -moz-box-shadow: 0 0 49px 14px rgba(188,190,194,0.39);
    box-shadow: 0 0 49px 14px rgba(188,190,194,0.39);
}
.panel-login .checkbox input[type=checkbox]{
    margin-left: 0;
}
.panel-login .checkbox label {
    padding-left: 25px;
    font-weight: 300;
    display: inline-block;
    position: relative;
}
.panel-login .checkbox {
    padding-left: 20px;
}
.panel-login .checkbox label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: 0;
    border: 1px solid #cccccc;
    border-radius: 3px;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
    transition: border 0.15s ease-in-out, color 0.15s ease-in-out;
}
.panel-login .checkbox label::after {
    display: inline-block;
    position: absolute;
    width: 16px;
    height: 16px;
    left: 0;
    top: 0;
    margin-left: 0;
    padding-left: 3px;
    padding-top: 1px;
    font-size: 11px;
    color: #555555;
}
.panel-login .checkbox input[type="checkbox"] {
    opacity: 0;
}
.panel-login .checkbox input[type="checkbox"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}
.panel-login .checkbox input[type="checkbox"]:checked + label::after {
    font-family: 'FontAwesome';
    content: "\f00c";
}
.panel-login>.panel-heading .tabs{
    padding: 0;
}
.panel-login h2{
    font-size: 22px;
    margin: 30px;
    text-transform: uppercase;
}
.panel-login>.panel-heading {
    color: #848c9d;
    background-color: #e8e9ec;
    border-color: #fff;
    text-align:center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom: 0;
    padding: 0 15px;
}
.panel-login .form-group {
    padding: 0 30px;
}
.panel-login>.panel-heading .login {
    padding: 20px 30px;
    border-bottom-left-radius: 5px;
}
.panel-login>.panel-heading .register {
    padding: 20px 30px;
    border-bottom-right-radius: 5px;
}
.panel-login>.panel-heading a{
    text-decoration: none;
    color: #666;
    text-align: center;
    font-weight: 300;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}
a.active div {
    background-color: #28586f;
    color: #fff;
}
.panel-login input[type="text"],.panel-login input[type="email"],.panel-login input[type="password"] {
    height: 45px;
    border: 0;
    font-size: 16px;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 1px solid #e7e7e7;
    border-radius: 0;
    padding: 6px 0;
}
.panel-login input:hover,
.panel-login input:focus {
    outline:none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-color: #ccc;
}
.btn-login {
    background-color: #E8E9EC;
    outline: none;
    color: #28586f;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.forgot-password {
    text-decoration: underline;
    color: #888;
}
.forgot-password:hover,
.forgot-password:focus {
    text-decoration: underline;
    color: #666;
}

.btn-register {
    background-color: #E8E9EC;
    outline: none;
    color: #28586f;
    font-size: 14px;
    height: auto;
    font-weight: normal;
    padding: 14px 0;
    text-transform: uppercase;
    border: none;
    border-radius: 0;
    box-shadow: none;
}
.btn-login:hover,
.btn-login:focus,
.btn-register:hover,
.btn-register:focus {
    color: #fff;
    background-color: #28586f;
}

/*-------------- Contact -------------------*/
.contact {
    margin-bottom: 2em;
}
.card-list li {
    border-bottom: 1px solid #e7e7e7;
    padding: 9px 0;
}
.card-list li:last-child {
    border-bottom: none;
}
#map {
    height: 400px;
    width: 100%;
}