{% extends '@Admin/admin/book.add.html.twig' %}

{% block breadcrumb %}
    <li class="breadcrumb-item">
        <a href="{{ path('admin_index', {'param': 'book'}) }}">Tous les cours</a>
    </li>
    <li class="breadcrumb-item active">Modifier un cours</li>
{% endblock %}

{% block content_title %}Modifier un Cours
{% endblock %}


