admin_homepage:
    path:     /
    defaults: { _controller: AdminBundle:Admin:home }

admin_user_index:
    path:     /user/{page}
    defaults: { _controller: AdminBundle:AdminUser:indexUser, page: 1 }
    requirements:
        page: \d+

admin_user_delete:
    path:     /user/delete/{id}
    defaults: { _controller: AdminBundle:AdminUser:deleteUser}
    requirements:
        id: \d+

admin_user_role:
    path:     /user/role/{id}
    defaults: { _controller: AdminBundle:AdminUser:roleUser}
    requirements:
        id: \d+

admin_index:
    path:     /{param}/{page}
    defaults: { _controller: AdminBundle:AdminContent:index, page: 1 }
    requirements:
        page: \d+

admin_add:
    path:     /{param}/add
    defaults: { _controller: AdminBundle:AdminContent:add }

admin_edit:
    path:     /{param}/edit/{id}
    defaults: { _controller: AdminBundle:AdminContent:edit }
    requirements:
        id: \d+

admin_delete:
    path:     /{param}/{id}
    defaults: { _controller: AdminBundle:AdminContent:delete }
    requirements:
        id: \d+

