{% extends '@App/layout.html.twig'%}
{% block body %}
<div class="container">
    <div class="sign row justify-content-md-center">
        <div class="col-md-9 col-lg-6">
            <div class="panel panel-login">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12">
                            {% block login_check %}
                            {% endblock %}
                        </div>
                    </div>
                </div>
                <div class="panel-heading">
                    <div class="row">

                        <div class="col-md-6 tabs">
                            <a href="{{ path('security_login') }}" {% block actif_login %}{% endblock %} id="login-form-link"><div class="login">CONNEXION</div></a>
                        </div>
                        <div class="col-md-6 tabs">
                            <a href="{{ path('security_register') }}" {% block actif_register %}{% endblock %} id="register-form-link"><div class="register">INSCRIPTION</div></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}